In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#given code below..

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N,K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
           'variable' : np.asarray(frame.columns).repeat(N),
           'date' : np.tile(np.asarray(frame.index), K)}
    
    #Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

C:\Users\mokae\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [4]:
dframe.head(10)

        date variable     value
0 2000-01-03        A -0.385825
1 2000-01-04        A -2.022289
2 2000-01-05        A  0.503999
3 2000-01-06        A  2.497505
4 2000-01-07        A  0.060570
5 2000-01-10        A -0.231414
6 2000-01-11        A -1.071788
7 2000-01-12        A -0.521161
8 2000-01-13        A  0.781149
9 2000-01-14        A  0.772661

In [6]:
#pivot lets you decide what you want rows, the columns, and the value to be  
dframe_piv = dframe.pivot('date', 'variable', 'value')
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.385825 -0.153171 -0.016236 -0.751305
2000-01-04 -2.022289 -0.597068  1.903129 -0.356946
2000-01-05  0.503999  0.026760 -1.225318 -0.323830
2000-01-06  2.497505  1.042288  0.938530 -0.804108
2000-01-07  0.060570 -0.814925  0.804290 -0.538069
2000-01-10 -0.231414  0.102174  1.218400  0.210454
2000-01-11 -1.071788 -2.263857 -1.001204  0.359533
2000-01-12 -0.521161 -0.278735 -0.377499  0.187584
2000-01-13  0.781149 -0.583554  2.105389 -0.597126
2000-01-14  0.772661 -0.712131  1.245702 -1.061769
2000-01-17  0.911051 -0.611807 -1.977052 -0.531960
2000-01-18  0.558908  0.020149 -0.943216 -0.294144
2000-01-19  0.242654  1.164387 -0.872109 -1.065838
2000-01-20 -0.998201  0.762044 -1.402977  0.901986
2000-01-21 -1.518223 -0.045549 -2.142629 -0.733737
2000-01-24  0.813288 -0.237468  0.531647 -0.343844
2000-01-25 -0.922356  0.374999 -1.817294 -0.225825
2000-01-26 -0.750552 -0.006699  0.468438 -0.101161
2000-01-27  1.390407  0.242593 -0.169767 -0.141903
2000-01-28  1.264079  0.275224  0.594007  0.056634
2000-01-31 -0.310093  1.786401 -0.609248 -1.126060
2000-02-01  0.724011  0.610006  0.772305 -0.903509
2000-02-02  0.526807  0.218492 -0.232237  1.601287
2000-02-03  0.151128 -1.576787 -1.434328  0.576393
2000-02-04  1.485098 -1.942435  0.010505  1.276742
2000-02-07  0.212306  0.322274 -1.242082 -0.994922
2000-02-08 -1.098603  0.171807  2.492265  2.125502
2000-02-09 -0.310371  1.343899 -0.682822  1.584977
2000-02-10  1.603463  0.071005 -0.300839  0.209007
2000-02-11  1.094027  0.557696 -0.361527  2.174084